.content {
	padding-left: 40px;
	padding-right: 40px;
}

#search-bar {
	padding-left: 10%;
	padding-right: 10%;
}

.jumbotron {
	background: url(../images/bar.jpg) no-repeat center center fixed;
	height: 600px;
	padding-top: 150px;
}

.listing {
	width: 40%;
	display: inline-block;
	margin: 20px;

	.panel-body {
		padding: 30px;
	}

	img {
		float: right;
		width: 90px;
		float: right;
	}
	.contact {
		float: left;
	}
}

.footer {
	button {
		border-radius: 5px;
		position: relative;
		left: 100%;
	}
}