.content {
	padding-left: 40px;
	padding-right: 40px;
}

#search-bar {
	padding-left: 10%;
	padding-right: 10%;
}

.jumbotron {
	background: url(../images/bar.jpg) no-repeat center center fixed;
	height: 600px;
	padding-top: 150px;
}

.thumbnail {
	width: 200px;
}

.footer {
	padding: 20px;

	button {
		border-radius: 5px;
		position: relative;
		left: 100%;
		text-decoration: none;
	}
}