#search-bar {

	padding-left: 10%;
	padding-right: 10%;
}

.jumbotron {
	background: url(../images/bar.jpg) no-repeat center center fixed;
	height: 400px;
}

.navbar {
	margin: 0;
}

.img-circle {
	height: 80px;
	width: 80px;
	display: block;
}