<div ng-app ng-controller="MainCtrl">
  <div class="jumbotron">
    <div class="container title">
      <h1>Looking for a beer while you work?</h1>
      <p class="lead">
        Enter your location to find BEER and WIFI
      </p>
      <div class="col-lg-12">
        <div class="input-group input-group-lg" id="search-bar">
          <input type="text" class="form-control" placeholder="Location..." ng-model="location">
          <span class="input-group-btn">
            <button class="btn btn-lg btn-primary" id="search-button" role="button" ng-click="findBusinesses()" onClick="document.getElementById('search-results').scrollIntoView();">Get Beer!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="content" id="search-results">
    <div class="page-header">
      <h1>Search Results</h1>
    </div>

      <div class="row">
        <div class="col-sm-6 col-md-3" ng-repeat="businesses in businessesFound.list">
          <div class="thumbnail">
            <img src="{{businesses.image_url}}">
            <div class="caption">
              <h3>{{businesses.name}}</h3>
              <p>{{businesses.location.display_address}}</p>
              <p><a href="{{businesses.url}}" class="btn btn-default" role="button">Website</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/beerglass.jpg">
            <div class="caption">
              <h3>ABC Business</h3>
              <p>123 Main St</p>
              <p><a href="#" class="btn btn-default" role="button">Website</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/beerglass.jpg">
            <div class="caption">
              <h3>XYZ Business</h3>
              <p>456 Main St</p>
              <p><a href="#" class="btn btn-default" role="button">Website</a></p>
            </div>
          </div>
        </div>
      </div>


    <p ng-if="businessesFound">{{businessesFound}}</p>

    </div>
  </div>
</div>



