<div ng-app ng-controller="MainCtrl">
  <div class="jumbotron">
    <div class="container title">
      <h1>Looking for a beer while you work?</h1>
      <p class="lead">
        Enter your location to find BEER
      </p>
      <div class="col-lg-12">
        <div class="input-group input-group-lg" id="search-bar">
          <input type="text" class="form-control" placeholder="City..." ng-model="city">
          <span class="input-group-btn">
            <button class="btn btn-lg btn-primary" id="search-button" role="button" ng-click="findLocations()" onClick="document.getElementById('search-results').scrollIntoView();">Get Beer!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="content" id="search-results">
    <div class="page-header">
      <h1>Search Results</h1>
    </div>
<p ng-if="locationsFound">{{locationsFound}}</p>
      <div class="row">
        <div class="col-sm-6 col-md-3" ng-repeat="locations in locationsFound.list">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{bmp_locations.location.name}}</h3>
              <p>{{bmp_locations.location.street}}</p>
              <p>{{bmp_locations.location.city}}, {{bmp_locations.location.state}}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/beerglass.jpg">
            <div class="caption">
              <h3>ABC Business</h3>
              <p>123 Main St</p>
              <p><a href="#" class="btn btn-default" role="button">Website</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/beerglass.jpg">
            <div class="caption">
              <h3>XYZ Business</h3>
              <p>456 Main St</p>
              <p><a href="#" class="btn btn-default" role="button">Website</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



