<div ng-app ng-controller="MainCtrl">
<div class="jumbotron">
  <div class="container">
    <h1>Looking for a beer while you work?</h1>
    <p class="lead">
      Enter your location to find BEER and WIFI
    </p>
    <div class="col-lg-12">
      <div class="input-group input-group-lg"  id="search-bar">
        <input type="text" class="form-control" placeholder="Location..." ng-model="location">
        <span class="input-group-btn">
          <a href="#/results" class="btn btn-lg btn-primary" ng-click="findBusinesses()" type="button">Get Beer!</a>
        </span>
      </div>
    </div>
  </div>
</div>
</div>



